@charset "utf-8";


/*  main*/

/* 메인 섹션 렌즈부분 */

.lense{
   max-width: 1200px;
   margin: 0 auto;
   padding: 50px 0 20px 0 ;
}

.lense>.lense-img{
    
  

    float: left;
    width: 16.66%;
    margin-bottom: 10px;
    text-align: center;
}

.lense>.lense-img>.lensebord{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 15px 0;
    border: 1px solid #ddd;


    
}
.lense>.lense-img>.lensebord>img{

    position: relative;
    z-index:-1;
    top: 50%;
    transform: translate(0,-50%);
    width: 54px;
    max-width: 100%;
    margin: 0 auto;    
}

.lense>.lense-img:hover>.lensebord{
    background-image: url(../images/item-hover.png);
}

.lense>.lense-img:hover>.lense-text>p{
    color: #834e78;
    font-weight: 600;
}

.lense>.lense-img>.lense-text>p{
    font-size: 18px;
    padding: 5px 0;
    font-weight: 300;
    line-height: 1.2;
}








/* 반응형 */
@media screen and (max-width: 1199px){

.lense>.lense-img>.lense-text>p{
    font-size: 16px;
}
}

@media (max-width: 640px){

.lense>.lense-img{
    width: 25%;
}
.lense>.lense-img>.lense-text>p{
    font-size: 13px;
}
}











